In [1]:
import requests
import json
import pandas as pd

This notebook will explore collecting data from the UNHCR API.

In [25]:
def fetch_data(url, params=None):
    response = requests.get(url, params=params)
    if response.status_code == 200:
        return response
    else:
        print(f"Error: {response.status_code}")
        return None

In [37]:
query = "https://www.unhcr.org/refugee-statistics/download/?url=Cq8F0R"

In [38]:
data = fetch_data(query)

HTTP Error: 500 Server Error: Internal Server Error for url: https://api.unhcr.org/population/v1/demographics/?limit=20&dataset=population&displayType=demographics&columns%5B%5D=refugees&columns%5B%5D=asylum_seekers&columns%5B%5D=oip&yearFrom=2002&yearTo=2022&coo_all=true&coa_all=true&ptype_show=1&download=true

In [39]:
# read in data from csv skipping the first 14 lines of the file
df = pd.read_csv('data/population.csv', skiprows=14)

In [40]:
df.head()

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Refugees under UNHCR's mandate,Asylum-seekers,Other people in need of international protection
0,1980,Western Sahara,ESH,Algeria,DZA,50000,0,-
1,1980,Unknown,NaN,Algeria,DZA,2000,0,-
2,1980,Dem. Rep. of the Congo,COD,Angola,AGO,20000,0,-
3,1980,Namibia,NAM,Angola,AGO,50000,0,-
4,1980,South Africa,ZAF,Angola,AGO,5000,0,-

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115806 entries, 0 to 115805
Data columns (total 8 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Year                                              115806 non-null  int64
 1   Country of origin                                 115806 non-null  object
 2   Country of origin (ISO)                           113378 non-null  object
 3   Country of asylum                                 115806 non-null  object
 4   Country of asylum (ISO)                           115780 non-null  object
 5   Refugees under UNHCR's mandate                    115806 non-null  int64
 6   Asylum-seekers                                    115806 non-null  int64
 7   Other people in need of international protection  115806 non-null  object
dtypes: int64(3), object(5)
memory usage: 7.1+ MB

In [42]:
df.describe()

                Year  Refugees under UNHCR's mandate  Asylum-seekers
count  115806.000000                    1.158060e+05    1.158060e+05
mean     2009.532563                    5.087462e+03    4.436485e+02
std         8.985317                    6.542574e+04    9.225480e+03
min      1980.000000                    0.000000e+00    0.000000e+00
25%      2003.000000                    5.000000e+00    0.000000e+00
50%      2011.000000                    1.800000e+01    5.000000e+00
75%      2017.000000                    1.500000e+02    3.100000e+01
max      2022.000000                    3.737369e+06    1.028200e+06

In [ ]:
df.